<div class="container">
  <div class="row">
<div class="col-md-3">
    <div   class="card"  (click)="pdp()" style="width:250px">
      
      <img class="card-img-top" src="assets/images/pure.jpg" alt="Card image" style="width:100%">
      
      <div class="card-body">
    
        <p class="card-text">Himalaya pure</p>
        <h4>Rs:200</h4>
        <a href="amazon2" class="btn btn-primary">Add</a>
        
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div   class="card" style="width:250px">
      
      <img class="card-img-top" src="assets/images/baby.jpg" alt="Card image" style="width:100%">
      
      <div class="card-body">
        
        <p class="card-text">Himalaya herbal</p>
        <h4>Rs:159</h4>
        <a href="himalaya" class="btn btn-primary">Add</a>
        
      </div>
    </div>
  </div>
  
  </div>
  </div>