<div class="container">
     <div class="row">
         <div class="col-md-4">
        
            <div class="card" style="width:250px">
              <img class="card-img-top" src="" alt="Card image" style="width:100%">
              <div class="card-body">
                
                
                
              </div>
            </div>
            <br>
            <a href="#" class="btn btn-warning" style="text-align:center;">Add to Cart</a>

         </div>
         <div class="col-md-7">
             <h4>
                 Himalaya pure sanitizer (100g)              </h4>
             <p>special price</p>
             <h4>Rs:200</h4>
             <p>Best before 2022</p>
             <p>Delivery</p>
             <p>Quantity</p>
             <p>Special offer</p>

             Heighlights<ul>
             <li>Hand Wash</li>
             <li>Ideal for:Men & Women</li>
             <li>Quantity:250 ml</li>
             
</ul>

         </div>
     </div>
     </div>
    